/* ----- default style ----- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 50em;
}

.img-container {
  position: relative;
}

.img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
}

/* ----- header style ----- */
header {
}

header img {
}

nav {
}

nav ul {
}

nav li {
}

nav a {
}
/* ----- main style ----- */
main {
}

.content {
}

.promotion {
}

.promotion h3 {
}

.promotion p {
}

.info {
}

.info__card {
}

.info .img-container {
}

.info__text {
}

.info__text h2 {
}

.info__text p {
}

/* ----- footer style ----- */
footer {
}

.copyright {
}

.copyright div {
}

.copyright p {
}
